body{
    display: flex;
    flex-direction: column;
}

h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.question_panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: navy;
}

.question{
    font-size: 30px;
    margin-bottom: 20px;
}
#time_div{
    width: 100px;
    height: 50px;
    background-color: #4f98c2;
    margin-left: auto;
    margin-right: auto;
}
.options{
    font-size: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    top: 40%;
    left: 40%;
}
#ReplayQuiz{
    display: none;
}
button {
    margin-top: 25px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4f98c2;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
}

#your_score {
    font-size: 30px;
    color: darkslategray;
}

.initial_input, .submit_score{
    display: none;
}